.package-card {
    display: flex;
    flex-direction: column;
    // border: 1px solid black;
    border-radius: 4px;
    text-align: center;
    position: relative;
    box-shadow: 0 2px 9px 0 rgb(0 0 0 / 20%);
    padding: 10px 0;

    img {
        display: flex;
        padding: 20px;
        height: 75%;
        width: 75%;
        align-self: center;
    }

    h2 {
        font-size: 18px;
    }

    .add,
    .remove {
        position: absolute;
        left: 10px;
        top: 13px;
        display: flex;
        height: 36px;
        width: 36px;
        cursor: pointer;
        fill: $clr2;
        padding: 6px;
        border-radius: 50%;
        transition: all .2s;
        box-shadow: 0 2px 9px 0 rgb(0 0 0 / 20%);
    }

    .add {
        background-color: $clr3;
    }

    .remove {
        background-color: $clr5;
    }

    .remove:hover,
    .add:hover {
        box-shadow: 0 2px 9px 0 rgb(0 0 0 / 60%);
    }

    span {
        direction: ltr;
        font-size: 14px;
    }
}