.test-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    direction: rtl;
    text-align: center;
    align-items: center;
    padding: 3px 0;

    .test-date {
        grid-column: 1/2;
        text-align: start;
        margin: 10px;
    }

    .price {
        grid-column: 2/3;
    }

    .action {
        grid-column: 3/4;
        display: flex;
        justify-content: center;
    }

    .add {
        display: flex;
        height: 36px;
        width: 36px;
        cursor: pointer;
        background-color: $clr3;
        border-radius: 50%;
        fill: $clr2;
        padding: 6px;
    }

    .remove {
        display: flex;
        height: 36px;
        width: 36px;
        cursor: pointer;
        background-color: $clr5;
        border-radius: 50%;
        fill: $clr2;
        padding: 6px;
    }
}