.test-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    direction: rtl;
    text-align: center;
    align-items: center;
    padding: 3px 0;
    
    @media (max-width:$mobile-size) {
        // justify-items: center;
        font-size: 14px;
    }

    .test-date {
        grid-column: 1/2;
        text-align: start;
        margin: 10px;

        @media (max-width:$mobile-size) {
            margin: 8px 4px 8px 0;
        }
    }

    .price {
        grid-column: 2/3;
    }

    .action {
        grid-column: 3/4;
        display: flex;
        justify-content: center;
    }

    svg {
        @media (max-width:$mobile-size) {
            height: 22px;
            width: 22px;
            margin: 2px;
        }
    }

    .add {
        display: flex;
        height: 36px;
        width: 36px;
        cursor: pointer;
        background-color: $clr3;
        border-radius: 50%;
        fill: $clr2;
        padding: 6px;

        @media (max-width:$mobile-size) {
            height: 32px;
            width: 32px;
            padding: 4px;
        }
    }

    .remove {
        display: flex;
        height: 36px;
        width: 36px;
        cursor: pointer;
        background-color: $clr5;
        border-radius: 50%;
        fill: $clr2;
        padding: 6px;

        @media (max-width:$mobile-size) {
            height: 32px;
            width: 32px;
            padding: 4px;
        }
    }
}